div{box-shadow: inset 0px 0px 0px 1px #c2c2c2;padding: 5px;}
	.df{display:flex}
#modal_order_layout{ position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;}