<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
<link rel="stylesheet" href="css.css">
</head>
<body>
	<div id="app">
			<nav id="status_bar" v-on:click.prevent >
				<a href="#" v-bind:class="setActiveStatus('all')" v-on:click="changeStatus('all')">Все</a>
				<a href="#" v-bind:class="setActiveStatus('new')" v-on:click="changeStatus('new')">Новые</a>
				<a href="#" v-bind:class="setActiveStatus('old')" v-on:click="changeStatus('old')">Старые</a>
			</nav>
			<div id="filter_layout">
				<div>
					<p>Дата:</p>
					<div>
						<span>От:</span>
						<input type="date" v-model="filter.time.from">
					</div>
					<div>
						<span>До:</span>
						<input type="date" v-model="filter.time.to">
					</div>
				</div>
				<div>
					<p>номер заказа:</p>
					<input type="text" v-model="filter.id">
				</div>
				<div>
					<p>номер заказа(у клиента):</p>
					<input type="text" v-model="filter.fake_id">
				</div>
				<div>
					<p>Фио:</p>
					<input type="text" v-model="filter.fio">
				</div>
				<div>
					<p>Телефон:</p>
					<input type="text" v-model="filter.phone">
				</div>
				<div>
					<p>email:</p>
					<input type="text" v-model="filter.email">
				</div>
				<div>
					<p>Адрес:</p>
					<input type="text" v-model="filter.adress">
				</div>
				<div>
					<p>Товар:</p>
					<input type="text" v-model="filter.product">
				</div>
				<div>
					<p>Тип Доставки:</p>
					<select name="" id="" v-model="filter.delivery">
						<option value=""></option>
						<option value="курьер">курьер</option>
						<option value="сдек">сдек</option>
					</select>
				</div>
				<div>
					<p>Тип оплаты:</p>
					<select name="" id="" v-model="filter.payType">
						<option value=""></option>
						<option value="карта">карта</option>
						<option value="другое">другое</option>
					</select>
				</div>
			</div>
		<div>
			Заказов: {{orders_count}}, на сумму: {{orders_summ | moneyView}}
		</div>
		<div id="order_list">
			<ul v-if="filteredOrders.length > 0">
				<li v-for="order in filteredOrders" @click="modal_data = order;modal_flag = true;">
					<div class="df">
						<div>{{order.data}}</div>
						<div>{{order.summ}}</div>
						<div>{{order.fio}} {{order.id}} / {{order.fake_id}}</div>
						<div>{{order.adress}}</div>
						<div>{{order.status}}</div>
					</div>
					
				</li>
			</ul>
			<p v-else>Нет данных</p>
		</div>
		<modal v-if="modal_flag" @close="modal_flag = false" :order="modal_data"></modal>
	</div>
	
	
	
	
	<script type="text/x-template" id="modal_order_view">
		<transition name=modal>
			<div id="modal_order_layout" v-on:click.self="$emit('close')">
				<div id="modal_wrap">
					<p>{{order}}</p>
					<input type="text" name="fio" v-model.lazy="order.fio" >
					<goods :goods="order.goods"></goods>
				</div>
			</div>
		</transition>
	</script>
	
	
	
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
	<script src="vue/vue.js"></script>
<!--	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>-->
	<script src="vue/app.js"></script>
</body>
</html>